html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 8fr ;
    height: 100%;
}

#layout>* {
    border: 1px solid lightblue;
    text-align: center;
}
body {
    background-color: blanchedalmond;
}

header {
    grid-row: 1;
}
nav {
    grid-row: 2;
}
nav>* {
   
}

main {
    grid-row: 3;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;

    
}
main>* {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}
h3 {
    margin-left: 45px;
    margin-top: -10px;
}



footer {
    grid-row: 4;
}

img {
    
    width: 200px;
    border-radius: 50%;
}
