html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
   
}




main>* {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    
}
h3 {
    margin-left: 45px;
    margin-top: -10px;
}




img {
    
    width: 200px;
    border-radius: 50%;

}

label {
    color: darkblue;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
 
footer {
    margin-top: auto;
    
    
}